.container {
    width: 960px;
    overflow: hidden;
    height: auto;
}



#search {
    color: rgb(81, 208, 166);
    border-color: rgb(81, 208, 166); 
    margin: 25px 10px 0px 30px;
    border-radius: 10px;
    padding: 2px 30px 2px 35px;
}

#plus {
    width: 30px;
    height: 30px;
    margin: 10px 0px 0px 30px;
    background-color: rgb(69, 214, 166);
    border: none;
    border-radius: 50%;
    font-size: 16pt;
    color: white;
}

#create {
    height: 30px;
    padding: 0px 30px 0px 30px;
    margin: 10px 0px 0px 30px;
    border-color: black;
    background-color:dodgerblue;
    color: white;
    box-shadow: 2px 3px 3px 1px black;
}

/* .clear{
    clear: both;
} */